@import "../../colors.scss";

.all {
  background-color: $thirdColor;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
}

.rounded-circle {
  gap: 10px;
}

.col-lg-4 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  background-color: $primaryColor;
  color: $secondaryColor;
}