@import "../../colors.scss";

.background {
  background-color: gray;
  max-width: 90%;
  height: 90%;
}

.all {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 7%;
}

#logged-user {
    color: $secondaryColor;
}

.info {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

h2 {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.orders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 90%;
}

.cards {
  margin: 20px;
}

Footer {
  width: 90%;
  position: fixed;
  bottom: 0;
}