@import "../../colors.scss";

.form-background {
    background-color: $thirdColor;
}

.form-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#form-div {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 20px;
}

#div-btn {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}